/* COMMON */
body {
	min-width: 360px;
	font-family: 'Poppins', sans-serif;
	background-color: #F5F7FA;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Rubik', sans-serif;
}

h2 {
	padding-bottom: 20px;
}


.red {
    background-color: red;
}

.green {
    background-color: green;

}

.violet {
    background-color: blueviolet;
}

/* HEADER */
.header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #213C53;
}

.header-row {
    flex-wrap: nowrap;
}

/* menu */
.navbar-toggler {
    display: flex;
    justify-content: end;
}
.menu-nav {
    
        display: flex;
        align-items: center;
}

.menu ul {
    margin-bottom: 0px;
    
}

.menu li{
    display: inline-block;
    padding: 0px 20px;

}

.menu li a {
    text-decoration: none;
    color: #dcf6fdd8;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

.headercontent {
    padding-top: 30px;
}



.promo {
    background: #213C53 url('../img/promo/promo_bg.svg') no-repeat scroll bottom center / cover;
    padding-bottom: 40px;
}



.main-label {
    color: #DCF6FD;
    font-family: 'Rubik', sans-serif;
    font-size: 60px;

}


.main-text {
    color: #DCF6FD;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}


.img-promo {

    width: 301px;
    height: 150px;
}

.toph {
    margin-top: 30px;
    margin-bottom: 40px;
}


.promo-text {
    color: #213C53;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    /* font-weight: 700; */
}


.label-promo {
    width: 206px;
    height: 103px;
}

/* BEST LIST CARD */
.top-content {
	padding-top: 40px;
	padding-bottom: 40px;
}

.bestlist_card {
	position: relative;
	background-color: #fff;
	box-shadow: 0 3px 5px -2px #bec9d6, 0 8px 12px -2px #c0cad7;
	border-radius: 15px;
	padding: 45px 45px 15px 45px;
	margin-top: 40px;
}
.bestlist_card_num {
	width: 40px;
	height: 40px;
	background-color: #f9bf3b;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	position: absolute;
	top: -20px;
	left: 52px;
}

.bestlist_card_label {
    /* width: 210px;
    height: 40px; */
    padding: 5px 15px;
    background-color: #f9bf3b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.bestlist_card_logo {
    text-align: center;
}
.bestlist_card_logo > img {
    /* width: 200px;
    height: 100px; */
    max-width: 100%;
	border-radius: 5px;
    padding: 0;
}

.bestlist_rate {
    color: #213C53;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding-top: 15px;
}

.text-pad {
    padding: 0;
}

.promo_conditions {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    padding-left: 5px;

}

.promo-item {
    display: flex;
    align-items: flex-start;
    
}

.play-now {
    text-decoration: none;
    color: #212529;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    background-color: #F9BF3B;
    border: 0;
    border-radius: 15px;
    /* width: 228px;
    height: 66px; */
    padding: 10px 30px;
}
