.red {
    background-color: red;
}

.green {
    background-color: green;

}

.violet {
    background-color: blueviolet;
}

.header{
    padding-top: 25px;
}

.header-section {
    background-color: #213C53;
}

.menu li{
    display: inline-block;
}