/* COMMON */
body {
	min-width: 360px;
	font-family: 'Poppins', sans-serif;
	background-color: #F5F7FA;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Rubik', sans-serif;
}

h2 {
	padding-bottom: 20px;
}


.red {
    background-color: red;
}

.green {
    background-color: green;

}

.violet {
    background-color: blueviolet;
}

/* HEADER */
.header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #213C53;
}

.header-row {
    flex-wrap: nowrap;
}

/* menu */
.navbar-toggler {
    display: flex;
    justify-content: end;
}
.menu-nav {
    
        display: flex;
        align-items: center;
}

.menu ul {
    margin-bottom: 0px;
    
}

.menu li{
    display: inline-block;
    padding: 0px 20px;

}

.menu li a {
    text-decoration: none;
    color: #dcf6fdd8;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

.headercontent {
    padding-top: 30px;
}
.menu {
    
}


/* .btnin {
    text-decoration: none;
    color: #dcf6fdd8;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.btnup {
    text-decoration: none;
    color: #212529;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    background-color: #F9BF3B;
} */

.promo {
		background: #213C53 url('../img/promo/promo_bg.svg') no-repeat scroll bottom center / cover;
    padding-bottom: 40px;
}



.main-label {
    color: #DCF6FD;
    font-family: 'Rubik', sans-serif;
    font-size: 60px;

}


.main-text {
    color: #DCF6FD;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}


.img-promo {

    width: 301px;
    height: 150px;
}

.toph {
    margin-top: 30px;
    margin-bottom: 40px;
}


.main-text-rate {
    color: #213C53;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.promo-text {
    color: #213C53;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    /* font-weight: 700; */
}



.play-now {
    text-decoration: none;
    color: #212529;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 25px;
    background-color: #F9BF3B;
    border: 0;
    
}

.text-pad {
    padding: 0;
}

.label-promo {
    width: 206px;
    height: 103px;
}

/* BEST LIST CARD */
.top-content {
	padding-top: 40px;
	padding-bottom: 40px;
}

.bestlist_card {
	position: relative;
	background-color: #fff;
	box-shadow: 0 3px 5px -2px #bec9d6, 0 8px 12px -2px #c0cad7;
	border-radius: 15px;
	padding: 45px 45px 15px 45px;
	margin-top: 40px;
}
.bestlist_card_num {
	width: 40px;
	height: 40px;
	background-color: #f9bf3b;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	position: absolute;
	top: -20px;
	left: 20px;
}
.bestlist_card_logo {
	border-radius: 5px;
}

@media (max-width: 991px) {
    .navbar-nav {
        padding: 1rem 0;
    }
    
    .nav-item {
        text-align: left;
        padding: 0.5rem 0;
    }
}