@media (max-width: 991px) {
    .navbar-nav {
        padding: 1rem 0;
    }
    
    .nav-item {
        text-align: left;
        padding: 0.5rem 0;
    }

    .bestlist_card {
        padding: 30px 20px 15px 15px;
    }

    .bestlist_card_num {
        left: 20px;
    }

    .bestlist_card_label {
        top: -15px;
        font-size: 14px;
    }
    /* .bestlist_card_label {
        display: none;
    } */

}